:root {
  --color-light-green: #7ed56f;
  --color-medium-green: #55c57a;
  --color-dark-green: #28b485;
  --color-grey: #777;
  --color-white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-grey);
  padding: 3rem;
}

.container-1 {
  height: 93vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(128, 214, 113, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(images/2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.center-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  text-transform: uppercase;

  border-radius: 1.5rem;
  border: none;

  font-family: inherit;
  color: inherit;
  line-height: inherit;

  transition: all 0.2s;
  background-color: white;

  font-size: 2rem;

  cursor: pointer;
}

.btn-big {
  transform: scale(1.2);
  padding: 1.5rem 4rem;
}

.btn:hover {
  transform: translateY(-0.3rem);
  background-color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(0.1rem);
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-animated {
  animation: moveInUp 1s ease-out;
}

.user-input--animated {
  animation: moveInUp 1s ease-out;
  animation-fill-mode: backwards;
}

label {
  font-size: 1.5rem;
  margin: 0.4rem 0;
}

.user-input {
  transform: scale(1.5);
  display: flex;
  padding: 3rem;
  max-width: 20rem;
  flex-direction: column;

  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
}

input:focus {
  outline: none !important;
  border-color: #28b485;
  box-shadow: 0 0 0.5rem #28b485;
}

button.btn-start:disabled {
  cursor: not-allowed;
  background-color: rgba(153, 153, 153, 0.6);
}

.btn-start:disabled:hover {
  transform: scale(0.6);
  box-shadow: none;
}

.btn-start {
  transform: scale(0.6);
}

.btn-start:hover {
  transform: scale(0.8);
}

.container-2 {
  min-height: 92vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column-reverse;

  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-dark-green) #e0e0e0;
}

.row {
  width: 90%;

  border-radius: 10%;
  border-bottom: 0.2rem solid black;
  display: flex;
  justify-content: space-between;
  padding: 3rem 1rem;
  margin-bottom: 3rem;

  position: relative;
}

.floor__buttons {
  display: flex;
  flex-direction: column;

  transform: translateY(-1.5rem);
}

.button-up {
  width: 4rem;
  margin-bottom: 1rem;
  color: var(--color-dark-green);
  border-color: var(--color-dark-green);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.lift-button--disabled:disabled {
  cursor: not-allowed;
  /* background-color: rgba(255, 250, 250, 0.2); */
  outline: 1px solid #cf0a0a;

  outline-width: 0.4rem;
  outline-offset: 0.1rem;
}

.lift-button__secondary--disabled:disabled {
  outline: none !important;
}

.lift-button--disabled:disabled:hover {
  transform: translateY(0);

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.button-down {
  width: 4rem;
  color: rgba(255, 116, 29, 0.8);
  border-color: rgba(255, 116, 29, 0.8);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.lift__row {
  position: absolute;
  left: 10.5rem;
  bottom: 1.7rem;

  display: flex;
}

.lift {
  display: flex;
  margin-right: 3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.left-door {
  height: 12rem;
  width: 5rem;
  background-color: #fcf9c6;
  margin-right: 0.1rem;
}

.left-door--animation {
  animation: moveDoorLeft 5s ease-in-out;
}

.right-door--animation {
  animation: moveDoorRight 5s ease-in-out;
}

.right-door {
  height: 12rem;
  width: 5rem;
  background-color: #fcf9c6;
}

.floor__number {
  font-size: 2rem;
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveDoorRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveDoorLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5rem);
  }
  100% {
    transform: translateX(0);
  }
}

/* utlilities */

.hidden {
  display: none;
}

.move-my-lift {
  transition: all 5s;

  z-index: 20;
}

.floor-animated {
  /* animation: moveInUp 2s ease-in; */
  animation: moveInUp 1s ease-out 0.3s;
  animation-fill-mode: backwards;
}

/* Removing arrows from input field */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  border-radius: 0.5rem;
  padding: 0.2rem 0.6rem;
  margin-bottom: 0.5rem;
  color: inherit;
}

@media (max-width: 1130px) {
  html {
    font-size: 52.5%;
  }
}

@media (max-width: 936px) {
  html {
    font-size: 42.5%;
  }

  .user-input {
    transform: scale(1.2);
    max-width: 23rem;
  }
}

@media (max-width: 758px) {
  html {
    font-size: 32.5%;
  }

  .user-input {
    transform: scale(1.4);
    max-width: 30rem;
  }
}

@media (max-width: 584px) {
  html {
    font-size: 22.5%;
  }

  .user-input {
    transform: scale(1.2);
    max-width: 37rem;
  }
}

@media (max-width: 402px) {
  html {
    font-size: 18.5%;
  }

  .user-input {
    transform: scale(1);
    max-width: 46rem;
  }

  .start-game {
    transform: scale(1.4);
  }
}
